<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/img/favicon2.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="./main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Info Producto</title>
  </head>

  <body >
  <!-- HEADER -->
  <header class="w-100">
    <nav style="background-color: #e4cfad" class="navbar navbar-expand-lg fs-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" height="100" alt="logo"></a>
          
            <div class="burger navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="w-100 d-flex justify-content-between">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active fw-bold" style="color: #FF5757"  aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tienda
                  </a>
                  <ul class="dropdown-menu fs-5">
                    <li><a class="dropdown-item" href="./farmacia.html">Farmacia</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="./juguetes.html">Juguetes</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contacto.html">Contacto</a>
                </li>
              </ul>
              <div class="d-flex justify-content-end mx-3">
                <a class="nav-link" href="./carrito.html">
                  <div class="carrito">
                    <img src="./assets/img/carrito.png" width="35px" height="35px" alt="carrito">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
</header>

<!-- MAIN -->  
    <main class="w-100" id="container">

      <template v-for="producto in productoInfo"> 
        <div class="d-flex justify-content-center w-100">
          <h1 id="title" class="text-center w-100 mt-5"> {{producto.nombre}}</h1>
        </div>
        <div class="container-fluid">
          <div>
            <hr>
            <div class="d-flex flex-column align-items-center justify-content-center w-100">
              <div class="w-100 d-flex justify-content-center">
                <img v-bind:src="producto.imagen" alt="" class="imagenProd" />
              </div>
              <div class="w-100 fs-5">
                <div class="align-self-center p-4">
                  <p class="text-center"> <b>Descripcion:</b> {{producto.descripcion}} </p>
                  <p class="text-center"> <b>Valor:</b> ${{producto.precio}} </p>
                  <p class="text-center"> <b>Unidades Disponibles:</b> {{producto.stock}} </p>
                  <p class="text-center text-danger fw-bold" v-if="producto.stock <= 5">!Aprovecha las últimas unidades!</p>
                  <div class="d-flex justify-content-center align-content-end">
                    <button type="button" v-on:click="carrito" class="align-content-center btn agregar-a-carrito text-light">Agregar al carrito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </template>

    </main>

<!-- FOOTER  -->
    <footer>
        <div class="footer w-100 d-flex justify-content-center">
        <p>© KE BELLIOS  | 2022</p>
        </div>
    </footer>

<!-- SCRIPS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
  </body>
</html>
